<h1>Exibindo Restaurante</h1>

<p>
  <b>Nome: </b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereco: </b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade: </b>
  <%= @restaurante.especialidade %>
</p>

<b>Nota Média: </b>
<%= @restaurante.qualificacoes.average :nota %><br />
<b>Qualificações: </b>
<%= @restaurante.qualificacoes.count %><br />
<b>Preço Médio: </b>
<%= @restaurante.qualificacoes.average :valor_gasto %><br /><br />

<%= comentarios @restaurante %>

<%= novo_comentario @restaurante %>

<%= link_to "Editar", action: "edit", id: @restaurante %>
<%= link_to "Qualificar este restaurante", controller: "qualificacoes", action: "new", restaurante: @restaurante %>
<%= link_to "Voltar", action: "index" %>
